#board {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5px;
  gap: 5px;
}

#board > div {
  border: 1px solid lightgray;
}

#board > div > h4 {
  text-align: center;
}
